.navbar {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  width: 50%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  text-align: center;
}

.logo a img {
  text-decoration: none;
  color: #333;
  width: 200px;
  height: 80px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.nav-links {
  text-decoration: none;
  color: #4b5563;
  font-size: 0.875rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-link::after {
  background: #e6ae60;
  content: '';
  display: block;
  transition: width 0.3s ease;
  height: 2.5px;
  margin-top: 2px;
  right: 0;
  width: 0;
}

.nav-link:hover::after {
  color: black;
  width: 100%;
  left: 0;
  right: auto;
}

.nav-link:hover {
  color: #666;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    position: relative;
    width: 100%;
  } 

  .navbar-container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-around;
  }

  .logo a img {
    text-decoration: none;
    color: #333;
    width: 140px;
    height: 40px;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .navbar-container{
      width: 80%;
      margin: 0 auto;
      padding: 1rem;
      justify-content: space-around;
  }

  .logo a img {
    width: 120px;
    height: 35px;
  }

  .nav-link {
    margin: 0;
    font-size: 13px;
  }
}