@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.shop {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-banner {
    height: 80vh;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../assets/apparels/shopbg1.PNG');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 800px;
    padding: 0 2rem;
  }
  
  .hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: "Julius Sans One";
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }